@using Krafter.Api.Client.Models
@using Krafter.UI.Web.Client.Common.Components.DaisyUI
@using Krafter.UI.Web.Client.Common.Components.Dialogs
@using ButtonSize = Krafter.UI.Web.Client.Common.Components.DaisyUI.ButtonSize
@using ButtonColor = Krafter.UI.Web.Client.Common.Components.DaisyUI.ButtonColor
@using ButtonStyle = Krafter.UI.Web.Client.Common.Components.DaisyUI.ButtonStyle

<RlvAlert Color="AlertColor.Info" Message="All fields marked with an asterisk (*) are required" />

<form @onsubmit="@(async () => await Submit(DeleteRequestInput))">
    <FluentValidationValidator Options="@(options => options.IncludeAllRuleSets())" />

    <div class="grid grid-cols-12 gap-4 items-center mt-4">
        <div class="col-span-12 md:col-span-2">
            <RlvLabel Text="Delete Reason *" />
        </div>
        <div class="col-span-12 md:col-span-10">
            <RlvTextArea @bind-Value="DeleteRequestInput.DeleteReason"
                         Placeholder="Enter reason for deletion"
                         Rows="3"
                         class="w-full" />
            <ValidationMessage class="text-sm text-error" For="@(() => DeleteRequestInput.DeleteReason)" />
        </div>
    </div>

    <div class="flex flex-row justify-center gap-4 mt-8 mb-4">
        <RlvButton Color="ButtonColor.Error"
                   Type="submit"
                   Loading="@isBusy"
                   Size="ButtonSize.Medium"
                   Text="Delete" />
        <RlvButton Color="ButtonColor.Neutral"
                   Style="ButtonStyle.Ghost"
                   Size="ButtonSize.Medium"
                   Text="Cancel"
                   OnClick="@(async (e) => dialogService.Close())" />
    </div>
</form>

