@using Krafter.UI.Web.Client.Common.Components.DaisyUI

@if (ChildContent != null)
{
    <RlvMenuItem HasSubmenu="true" SubmenuOpen="@Expanded">
        <SummaryContent>
            @if (!Example.New && !Example.Updated)
            {
                <img src="@($"svg/icons/{Example.Icon}.svg")" class="w-5 h-5" />
                <span>@Example.Name</span>
            }
            else
            {
                <span>@Example.Name</span>
                @if (Example.Updated)
                {
                    <RlvBadge Text="Updated" Color="BadgeColor.Info" Size="BadgeSize.Small" />
                }
                @if (Example.New)
                {
                    <RlvBadge Text="New" Color="BadgeColor.Success" Size="BadgeSize.Small" />
                }
            }
        </SummaryContent>
        <SubmenuContent>
            @ChildContent
        </SubmenuContent>
    </RlvMenuItem>
}
else
{
    <RlvMenuItem Href="@GetUrl()" ItemClass="@GetItemClass()">
        @if (!Example.New && !Example.Updated)
        {
            <img src="@($"svg/icons/{Example.Icon}.svg")" class="w-5 h-5" />
            <span>@Example.Name</span>
        }
        else
        {
            <span>@Example.Name</span>
            @if (Example.Updated)
            {
                <RlvBadge Text="Updated" Color="BadgeColor.Info" Size="BadgeSize.Small" />
            }
            @if (Example.New)
            {
                <RlvBadge Text="New" Color="BadgeColor.Success" Size="BadgeSize.Small" />
            }
        }
    </RlvMenuItem>
}