@page "/account/change-password"
@using Krafter.Api.Client.Models
@using Krafter.UI.Web.Client.Features.Users
@using Krafter.UI.Web.Client.Common.Components.DaisyUI

<div class="grid grid-cols-12 gap-2.5 justify-around">
    <div class="col-span-12 md:col-span-6">
        <RlvCard>
            <h2 class="text-center text-2xl font-bold mb-4">Change Password</h2>

            <form @onsubmit="@(() => SubmitChangePassword(ChangePasswordRequest))" class="flex flex-col gap-4">
                <FluentValidationValidator Options="@(options => options.IncludeAllRuleSets())" />

                <div class="grid grid-cols-12 gap-4 items-center">
                    <div class="col-span-12 md:col-span-2">
                        <RlvLabel Text="Old Password" For="Password" />
                    </div>
                    <div class="col-span-12 md:col-span-10">
                        <RlvInputField @bind-Value="@ChangePasswordRequest.Password"
                                       Placeholder="Enter old password"
                                       Type="password"
                                       class="w-full" />
                        <ValidationMessage class="text-sm text-error" For="@(() => ChangePasswordRequest.Password)" />
                    </div>
                </div>

                <div class="grid grid-cols-12 gap-4 items-center">
                    <div class="col-span-12 md:col-span-2">
                        <RlvLabel Text="New Password" For="NewPassword" />
                    </div>
                    <div class="col-span-12 md:col-span-10">
                        <RlvInputField @bind-Value="@ChangePasswordRequest.NewPassword"
                                       Placeholder="Enter new password"
                                       Type="password"
                                       class="w-full" />
                        <ValidationMessage class="text-sm text-error" For="@(() => ChangePasswordRequest.NewPassword)" />
                    </div>
                </div>

                <div class="grid grid-cols-12 gap-4 items-center">
                    <div class="col-span-12 md:col-span-2">
                        <RlvLabel Text="Confirm Password" For="ConfirmNewPassword" />
                    </div>
                    <div class="col-span-12 md:col-span-10">
                        <RlvInputField @bind-Value="@ChangePasswordRequest.ConfirmNewPassword"
                                       Placeholder="Confirm new password"
                                       Type="password"
                                       class="w-full" />
                        <ValidationMessage class="text-sm text-error" For="@(() => ChangePasswordRequest.ConfirmNewPassword)" />
                    </div>
                </div>

                <div class="flex flex-row justify-end gap-4 mt-8 mb-4">
                    <RlvButton Type="submit"
                               Size="ButtonSize.Medium"
                               Color="ButtonColor.Primary"
                               Text="Change Password"
                               Disabled="@IsBusy">
                        @if (IsBusy)
                        {
                            <RlvLoading Size="LoadingSize.Small" />
                        }
                        else
                        {
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 7a2 2 0 012 2m4 0a6 6 0 01-7.743 5.743L11 17H9v2H7v2H4a1 1 0 01-1-1v-2.586a1 1 0 01.293-.707l5.964-5.964A6 6 0 1121 9z" />
                            </svg>
                        }
                    </RlvButton>
                </div>
            </form>
        </RlvCard>
    </div>
</div>