@page "/account/change-password"
@layout Krafter.UI.Web.Client.Common.Components.Layout.AuthLayout
@using Krafter.Api.Client.Models
@using Krafter.UI.Web.Client.Features.Users
@using Krafter.UI.Web.Client.Common.Components.DaisyUI

<div class="grid grid-cols-12 gap-2.5 justify-around">
    <div class="col-span-12 md:col-span-6">
        <RlvCard>
            <h2 class="text-center text-2xl font-bold mb-4">Change Password</h2>

            <EditForm Model="@ChangePasswordRequest" OnValidSubmit="@(() => SubmitChangePassword(ChangePasswordRequest))" class="space-y-4">
                <FluentValidationValidator Options="@(options => options.IncludeAllRuleSets())" />

                <div class="form-control w-full">
                    <RlvLabel Text="Current Password" For="Password" />
                    <RlvInputField @bind-Value="@ChangePasswordRequest.Password"
                                   Placeholder="Enter current password"
                                   Type="password"
                                   Name="Password"
                                   Class="w-full mt-1" />
                    <ValidationMessage class="text-sm text-error mt-1" For="@(() => ChangePasswordRequest.Password)" />
                </div>

                <div class="form-control w-full">
                    <RlvLabel Text="New Password" For="NewPassword" />
                    <RlvInputField @bind-Value="@ChangePasswordRequest.NewPassword"
                                   Placeholder="Enter new password"
                                   Type="password"
                                   Name="NewPassword"
                                   Class="w-full mt-1" />
                    <ValidationMessage class="text-sm text-error mt-1" For="@(() => ChangePasswordRequest.NewPassword)" />
                </div>

                <div class="form-control w-full">
                    <RlvLabel Text="Confirm New Password" For="ConfirmNewPassword" />
                    <RlvInputField @bind-Value="@ChangePasswordRequest.ConfirmNewPassword"
                                   Placeholder="Confirm new password"
                                   Type="password"
                                   Name="ConfirmNewPassword"
                                   Class="w-full mt-1" />
                    <ValidationMessage class="text-sm text-error mt-1" For="@(() => ChangePasswordRequest.ConfirmNewPassword)" />
                </div>

                <div class="flex justify-end mt-6">
                    <RlvButton Type="submit"
                               Size="ButtonSize.Medium"
                               Color="ButtonColor.Primary"
                               Disabled="@IsBusy"
                               Wide="true">
                        @if (IsBusy)
                        {
                            <span class="loading loading-spinner loading-sm"></span>
                            <span>Changing...</span>
                        }
                        else
                        {
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 7a2 2 0 012 2m4 0a6 6 0 01-7.743 5.743L11 17H9v2H7v2H4a1 1 0 01-1-1v-2.586a1 1 0 01.293-.707l5.964-5.964A6 6 0 1121 9z" />
                            </svg>
                            <span>Change Password</span>
                        }
                    </RlvButton>
                </div>
            </EditForm>
        </RlvCard>
    </div>
</div>