@using Krafter.UI.Web.Client.Common.Permissions
@using Krafter.UI.Web.Client.Features.Users
@using Krafter.UI.Web.Client.Common.Components.DaisyUI
@using ButtonSize = Krafter.UI.Web.Client.Common.Components.DaisyUI.ButtonSize
@using ButtonColor = Krafter.UI.Web.Client.Common.Components.DaisyUI.ButtonColor
@using TextAlign = Krafter.UI.Web.Client.Common.Components.DaisyUI.TextAlign
@attribute [Route(RoutePath)]
@attribute [MustHavePermission(KrafterAction.View, KrafterResource.Users)]

<AuthorizeView Policy="@KrafterPermission.NameFor(KrafterAction.Create, KrafterResource.Users)">
    <div class="flex flex-row items-center gap-2.5 justify-end mt-2 mb-4">
        <RlvButton Size="ButtonSize.Small" Color="ButtonColor.Primary" Text="Add User" OnClick="@AddUser">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
            </svg>
        </RlvButton>
    </div>
</AuthorizeView>

<RlvDataGrid @ref="grid"
             TItem="Krafter.Api.Client.Models.UserDto"
             Data="@response?.Data?.Items"
             TotalCount="@(response?.Data?.TotalCount ?? 0)"
             IsLoading="@IsLoading"
             OnLoadData="@LoadData"
             AllowSorting="true"
             AllowFiltering="true"
             AllowPaging="true"
             PageSize="@requestInput.MaxResultCount"
             Size="TableSize.Small"
             Zebra="true"
             PinHeader="true"
             EmptyMessage="No users found">
    <Columns>
        <RlvDataGridColumn TItem="Krafter.Api.Client.Models.UserDto"
                           Property="Id"
                           Title="ID"
                           Sortable="true"
                           Filterable="true"
                           FilterType="FilterType.Text"
                           TextAlign="TextAlign.Left" />

        <RlvDataGridColumn TItem="Krafter.Api.Client.Models.UserDto"
                           Property="FirstName"
                           Title="First Name"
                           Sortable="true"
                           Filterable="true"
                           FilterType="FilterType.Text"
                           TextAlign="TextAlign.Center" />

        <RlvDataGridColumn TItem="Krafter.Api.Client.Models.UserDto"
                           Property="LastName"
                           Title="Last Name"
                           Sortable="true"
                           Filterable="true"
                           FilterType="FilterType.Text"
                           TextAlign="TextAlign.Center" />

        <RlvDataGridColumn TItem="Krafter.Api.Client.Models.UserDto"
                           Property="Email"
                           Title="Email"
                           Sortable="true"
                           Filterable="true"
                           FilterType="FilterType.Text"
                           TextAlign="TextAlign.Center" />

        <RlvDataGridColumn TItem="Krafter.Api.Client.Models.UserDto"
                           Property="IsActive"
                           Title="Active"
                           Sortable="true"
                           Filterable="true"
                           FilterType="FilterType.Boolean"
                           TextAlign="TextAlign.Center" />

        <RlvDataGridColumn TItem="Krafter.Api.Client.Models.UserDto"
                           Property="EmailConfirmed"
                           Title="Email Confirmed"
                           Sortable="true"
                           Filterable="true"
                           FilterType="FilterType.Boolean"
                           TextAlign="TextAlign.Center" />

        <RlvDataGridColumn TItem="Krafter.Api.Client.Models.UserDto"
                           Property="PhoneNumber"
                           Title="Phone Number"
                           Sortable="true"
                           Filterable="true"
                           FilterType="FilterType.Text"
                           TextAlign="TextAlign.Center" />

        <RlvDataGridColumn TItem="Krafter.Api.Client.Models.UserDto"
                           Title="Created By"
                           Sortable="false"
                           Filterable="false"
                           TextAlign="TextAlign.Center"
                           Frozen="true"
                           FrozenPosition="FrozenPosition.Left">
            <Template Context="data">
                @if (data.CreatedBy is { })
                {
                    @(data.CreatedBy.FirstName + " " + @data.CreatedBy.LastName)
                }
            </Template>
        </RlvDataGridColumn>

        <RlvDataGridColumn TItem="Krafter.Api.Client.Models.UserDto"
                           Property="CreatedById"
                           Title="Created By ID"
                           Sortable="true"
                           Filterable="true"
                           FilterType="FilterType.Text"
                           TextAlign="TextAlign.Center" />

        <RlvDataGridColumn TItem="Krafter.Api.Client.Models.UserDto"
                           Title="Actions"
                           Sortable="false"
                           Filterable="false"
                           TextAlign="TextAlign.Right"
                           Frozen="true"
                           FrozenPosition="FrozenPosition.Right">
            <Template Context="data">
                <RlvDropdown>
                    <RlvButton Size="ButtonSize.Small" Color="ButtonColor.Neutral" Text="Actions">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                        </svg>
                    </RlvButton>
                    <RlvMenu Slot="content" class="w-52 bg-base-100 shadow-xl rounded-box">
                        <AuthorizeView Policy="@(KrafterPermission.NameFor(KrafterAction.Update, KrafterResource.Users))">
                            <RlvMenuItem OnClick="@(() => UpdateUser(data))">
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
                                </svg>
                                <span>Edit</span>
                            </RlvMenuItem>
                        </AuthorizeView>

                        @*  @if (data.IsOwner == false)
                        {
                            <AuthorizeView Policy="@(KrafterPermission.NameFor(KrafterAction.Delete, KrafterResource.Users))">
                                <RlvMenuItem OnClick="@(() => DeleteUser(data))">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                    </svg>
                                    <span>Delete</span>
                                </RlvMenuItem>
                            </AuthorizeView>
                        } *@
                    </RlvMenu>
                </RlvDropdown>
            </Template>
        </RlvDataGridColumn>
    </Columns>
</RlvDataGrid>